@model Clients

<div class="container">
    <h1>Delete Client</h1>
    <form method="post">
        <div class="mb-3">
            <label asp-for="ImageUrl" class="form-label">ImageUrl</label>
            <input asp-for="ImageUrl" class="form-control" placeholder="ImageUrl">
            <span asp-validation-for="ImageUrl" style="color:red"></span>
        </div>
        <h2>Bu client'i silmek istediyinizden eminsiniz?</h2>

        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>