@model Team

<div class="container">
    <h1>Delete Team</h1>
    <form method="post">
        <div class="mb-3">
            <label asp-for="ImageUrl" class="form-label">ImageUrl</label>
            <input asp-for="ImageUrl" class="form-control" placeholder="ImageUrl">
            <span asp-validation-for="ImageUrl" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Fullname" class="form-label">Fullname</label>
            <input asp-for="Fullname" class="form-control" placeholder="Fullname">
            <span asp-validation-for="Fullname" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Position" class="form-label">Position</label>
            <input asp-for="Position" class="form-control" placeholder="Position">
            <span asp-validation-for="Position" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TwitterUrl" class="form-label">TwitterUrl</label>
            <input asp-for="TwitterUrl" class="form-control" placeholder="TwitterUrl">
            <span asp-validation-for="TwitterUrl" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FacebookUrl" class="form-label">FacebookUrl</label>
            <input asp-for="FacebookUrl" class="form-control" placeholder="FacebookUrl">
            <span asp-validation-for="FacebookUrl" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="InstagramUrl" class="form-label">InstagramUrl</label>
            <input asp-for="InstagramUrl" class="form-control" placeholder="InstagramUrl">
            <span asp-validation-for="InstagramUrl" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LinkedinUrl" class="form-label">LinkedinUrl</label>
            <input asp-for="LinkedinUrl" class="form-control" placeholder="LinkedinUrl">
            <span asp-validation-for="LinkedinUrl" style="color:red"></span>
        </div>
        <h2>Bu team istirakcisini silmek istediyinizden eminsiniz?</h2>

        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>