@model Hero

<div class="container">
    <h1>Create Hero</h1>
    <form method="post">
        <div class="mb-3">
            <label asp-for="ImageUrl" class="form-label">ImageUrl</label>
            <input asp-for="ImageUrl" class="form-control" placeholder="ImageUrl">
            <span asp-validation-for="ImageUrl" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TitleBlack" class="form-label">TitleBlack</label>
            <input asp-for="TitleBlack" class="form-control" placeholder="TitleBlack">
            <span asp-validation-for="TitleBlack" style="color:red"></span>

        </div>
        <div class="mb-3">
            <label asp-for="TitleRed" class="form-label">TitleRed</label>
            <input asp-for="TitleRed" class="form-control" placeholder="TitleRed">
            <span asp-validation-for="TitleRed" style="color:red"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description" style="color:red"></span>

        </div>
        <div class="mb-3">
            <label asp-for="RedirectUrl" class="form-label">RedirectUrl</label>
            <input asp-for="RedirectUrl" class="form-control" placeholder="RedirectUrl">
            <span asp-validation-for="RedirectUrl" style="color:red"></span>

        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>